@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button {
  background-color: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

/* ---------------------------- */

/* ---------------------------- */

/* ---------SCROLL BAR--------- */

/* ---------------------------- */

/* ---------------------------- */

::-webkit-scrollbar {
  height: 10px;
  width: 5px;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #000;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #fff;
}

/* ---------------------------- */

/* ---------------------------- */

/* ---------------------------- */

/* ---------------------------- */

/* ---------------------------- */

.title {
  text-align: center;
  position: relative;
}

.title__main-title {
  font-weight: 900;
  font-size: 6.25rem;
  line-height: 150%;
  letter-spacing: 0.2em;
  color: #85878C;
  text-transform: uppercase;
}

.title__subtitle {
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 200%;
  letter-spacing: 0.2em;
  color: #fff;
  position: relative;
  top: -103px;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  background-color: #252525;
  color: #fff;
  font-family: "Roboto";
}

html._lock,
body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page {
  flex: 1 1 auto;
}

.__container {
  padding: 0 10px;
  max-width: 1120px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__container {
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 45px;
}

.menu__link {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 120%;
  color: #FFFFFF;
  transition: color 0.4s ease 0s;
}

.menu__link._active {
  color: #34C759;
}

.menu__icon {
  z-index: 5;
  position: relative;
  width: 40px;
  height: 28px;
  cursor: pointer;
  display: none;
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: #34C759;
}

.menu__icon::before,
.menu__icon::after {
  content: "";
}

.menu__icon::before {
  top: 0;
}

.menu__icon::after {
  bottom: 0;
}

.menu__icon span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}

.menu__icon._active span {
  transform: scale(0) translate(0px, -50%);
}

.menu__icon._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.menu__icon._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

.front__container {
  padding: 170px 15px 150px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 20;
}

.front__title {
  font-size: 4.5rem;
  line-height: 116.666667%;
  /* 84px/72 */
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  margin: 0px 0px 16px 0px;
}

.front__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 162.5%;
  text-align: center;
  letter-spacing: -0.2px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.7;
  max-width: 600px;
  margin: 0 auto 40px auto;
}

.front__btn {
  display: inline-flex;
  height: 72px;
  padding: 0px 57px 0px 57px;
  background: #34C759;
  border-radius: 43px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 122.222222%;
  text-align: center;
  letter-spacing: 0.2em;
  color: #1A1A1A;
  min-width: 220px;
  margin: 0px 0px 70px 0px;
  border: 1px solid #34C759;
  transition: color 0.4s ease 0s;
}

.front__info {
  display: flex;
}

.front__info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.front__info-item img {
  width: 21px;
  height: 21px;
  margin: 0px 0px 16px 0px;
}

.front__info-item-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 187.5%;
  color: #FFFFFF;
}

.front__info-item-subtext {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 428.571429%;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.front__bg {
  position: static;
  z-index: -1;
}

.swiper {
  width: 100%;
  height: 100%;
}

.about__swiper-wrapper {
  position: relative;
}

.about__swiper-wrapper .swiper-button-next {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #303030;
  right: 50px;
}

.about__swiper-wrapper .swiper-button-next img {
  width: 16px;
  height: 16px;
}

.about__swiper-wrapper .swiper-button-next:after {
  content: "";
}

.about__swiper-wrapper .swiper-button-prev {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #303030;
  left: 50px;
}

.about__swiper-wrapper .swiper-button-prev img {
  width: 16px;
  height: 16px;
}

.about__swiper-wrapper .swiper-button-prev:after {
  content: "";
}

.about {
  position: relative;
}

.about__container {
  padding: 90px 15px 90px 15px;
  background: #262626;
}

.about__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 187.5%;
  text-align: center;
  color: #A6A6A6;
  max-width: 734px;
  margin: 0px auto 90px auto;
}

.about__swiper {
  max-width: 800px;
}

.about__swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px;
}

.about__swiper .swiper-slide img {
  width: 100%;
  height: 100%;
}

.work__container {
  padding: 100px 15px 30px 15px;
}

.work__content {
  display: flex;
  gap: 30px;
}

.work-item {
  flex: 0 1 25%;
  padding: 24px 24px 42px 24px;
  color: #fff;
  background-color: #000;
  border-radius: 6px;
  transition: all 0.4s ease 0s;
}

.work-item__title {
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 118.181818%;
  letter-spacing: -0.275px;
  text-transform: capitalize;
  color: inherit;
  margin: 0px 0px 50px 0px;
  position: relative;
}

.work-item__title::after {
  width: 56px;
  height: 2px;
  content: "";
  position: absolute;
  bottom: -23px;
  left: 0;
  background: #34C759;
}

.work-item__text {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 138.461538%;
  letter-spacing: -0.1625px;
  color: inherit;
}

.dish__container {
  padding: 100px 15px 30px 15px;
}

.dish__content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.dish-item {
  flex: 0 1 30%;
  position: relative;
  background-color: #000;
  border-radius: 6px;
  padding-bottom: 25px;
}

.dish-item__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: 20;
}

.dish-item__img {
  width: 100%;
  height: 260px;
  overflow: hidden;
  margin: 0px 0px 30px 0px;
}

.dish-item__title {
  font-weight: 400;
  font-size: 2rem;
  line-height: 93.75%;
  color: #D9D9D9;
  padding: 0px 20px 0px 20px;
  margin: 0px 0px 10px 0px;
}

.dish-item__desc {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 133.333333%;
  /* 16px/12 */
  letter-spacing: -0.15px;
  color: #A4A8B2;
  padding: 0px 20px 0px 20px;
  margin: 0px 0px 20px 0px;
}

.dish-item__text {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 138.461538%;
  letter-spacing: -0.1625px;
  color: #85878C;
  padding: 0px 20px 0px 20px;
  margin: 0px 0px 20px 0px;
}

.dish-item__btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.dish-item__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 32px;
  background: #34C759;
  border-radius: 43px;
  font-weight: 900;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #252525;
  margin: 0px 20px 0px 0px;
  justify-items: flex-end;
  border: 1px solid #34C759;
  transition: all 0.4s ease 0s;
}

.chefs__container {
  padding: 40px 15px 40px 15px;
}

.chefs__content {
  display: flex;
  justify-content: space-between;
}

.chefs__profile {
  display: flex;
  align-items: center;
  margin: 0px 0px 24px 0px;
}

.chefs__profile-img {
  width: 65px;
  height: 65px;
}

.chefs__profile-img img {
  max-width: 100%;
}

.chefs__profile-info {
  padding: 0px 0px 0px 24px;
}

.chefs__profile-name {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 116.666667%;
  letter-spacing: -0.225px;
  color: #FFFFFF;
  margin: 0px 0px 10px 0px;
}

.chefs__profile-pos {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 133.333333%;
  letter-spacing: -0.15px;
  color: rgba(255, 255, 255, 0.5);
}

.recipes__container {
  padding: 40px 15px 30px 15px;
}

.recipes__content {
  display: flex;
  gap: 30px;
}

.recipes__content-left {
  flex: 0 1 50%;
  padding: 60px 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipes__content-right {
  flex: 0 1 50%;
}

.brakfast {
  position: relative;
}

.brakfast__prev {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6784313725);
  z-index: 20;
}

.brakfast__prev img {
  padding: 13px;
  max-width: 100%;
}

.brakfast__name {
  display: inline-block;
  font-weight: 900;
  font-size: 0.625rem;
  line-height: 250%;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  z-index: 20;
  height: 25px;
  padding: 0 15px;
  background: rgba(0, 0, 0, 0.6784313725);
  border-radius: 6px;
  margin: 0px 0px 25px 0px;
}

.brakfast__date {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 214.285714%;
  color: #FFFFFF;
  position: relative;
  z-index: 20;
  margin: 0px 0px 30px 0px;
}

.brakfast__text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 166.666667%;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  z-index: 20;
  margin: 0px 0px 50px 0px;
}

.brakfast__chef-name {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 214.285714%;
  color: #FFFFFF;
  position: relative;
  z-index: 20;
}

.right-items {
  padding: 30px;
  background-color: #161616;
  border-radius: 6px;
  overflow: hidden;
}

.right-items._active {
  background-color: #34C759;
  color: #000;
}

.right-items:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.right-items__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 187.5%;
  color: #FFFFFF;
  margin: 0px 0px 12px 0px;
  position: relative;
  z-index: 20;
}

.right-items__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-items__info {
  display: flex;
  gap: 15px;
  position: relative;
  z-index: 20;
}

.right-items__category {
  height: 25px;
  padding: 0 6px;
  background: rgba(0, 0, 0, 0.6784313725);
  font-weight: 900;
  font-size: 0.625rem;
  line-height: 250%;
  /* 25px/10 */
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 6px;
}

.right-items__date {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 208.333333%;
  color: #B3B3B3;
}

.right-items__stat {
  display: flex;
  align-items: center;
}

.right-items__stat span {
  padding: 0px 0px 0px 14px;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 250%;
  color: #FFFFFF;
  position: relative;
  z-index: 20;
}

.right-items__stat img {
  position: relative;
  z-index: 20;
}

.right-items__stat img:not(:first-child) {
  margin: 0px 0px 0px 30px;
}

.social__container {
  padding: 90px 15px 115px 15px;
}

.social__content {
  display: flex;
  gap: 30px;
}

.social__item {
  flex: 0 1 33%;
  background-color: #2c2b2b;
  border-radius: 6px;
}

.item-social__header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6784313725);
}

.item-social__wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.item-social__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.6784313725);
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-social__name {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 214.285714%;
  color: #BFBFBF;
}

.item-social__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0 18px;
  font-weight: 900;
  font-size: 0.625rem;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #737373;
  border: 1px solid rgba(0, 0, 0, 0.6784313725);
  border-radius: 46px;
  transition: all 0.4s ease 0s;
}

.item-social__body {
  padding: 25px;
}

.social-body.inst {
  padding: 0;
  width: 100%;
  height: 239px;
}

.social-body__date {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 214.285714%;
  /* 30px/14 */
  color: #737373;
  margin: 0px 0px 12px 0px;
}

.social-body__text {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 214.285714%;
  /* 30px/14 */
  color: rgba(255, 255, 255, 0.7);
}

.infoblock {
  background-color: #2c2b2b;
  padding: 30px 15px;
}

.infoblock__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 833px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer {
  background-color: #2c2b2b;
  border-top: 1px solid rgba(0, 0, 0, 0.6784313725);
}

.footer__container {
  padding: 35px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  margin: 0px 0px 10px 0px;
}

.footer__copy {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 500%;
  text-align: center;
  color: #737373;
}

@media (min-width: 991.98px) {
  .menu__link:hover {
    color: #34C759;
  }

  .front__btn:hover {
    background: transparent;
    color: #fff;
  }

  .work-item:hover {
    background-color: #34C759;
    color: black;
    cursor: pointer;
  }

  .work-item:hover .work-item__title:after {
    background-color: #000;
  }

  .dish-item__btn:hover {
    background: transparent;
    color: #fff;
  }

  .item-social__btn:hover {
    background-color: #34C759;
    color: #fff;
    border: 1px solid #34C759;
  }
}

@media (max-width: 1122px) {
  .__container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .__container {
    max-width: 750px;
  }

  .front__title {
    font-size: 3rem;
  }

  .dish__content {
    gap: 20px;
  }

  .dish-item {
    flex: 0 1 48%;
  }

  .chefs__content {
    flex-direction: column;
    align-items: center;
  }

  .chefs__item {
    margin: 0px 0px 35px 0px;
  }

  .recipes__content {
    flex-direction: column;
  }

  .recipes__content-left {
    flex: 1 1 100%;
  }

  .recipes__content-left {
    padding: 60px 30px;
  }

  .recipes__content-right {
    flex: 1 1 100%;
  }

  .social__content {
    flex-direction: column;
  }

  .social__item {
    flex: 1 1 auto;
  }
}

@media (max-width: 767.98px) {
  .title__main-title {
    font-size: 4.25rem;
  }

  .title__main-title {
    font-size: 2.5rem;
  }

  .title__subtitle {
    font-size: 1.25rem;
    top: -73px;
  }

  .title__subtitle {
    font-size: 0.875rem;
    top: -45px;
  }

  .__container {
    max-width: none;
  }

  .menu__icon {
    display: block;
  }

  .menu {
    position: fixed;
    top: -100%;
    right: 0;
    background-color: #000;
    opacity: 0.95;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 120px 30px 30px 30px;
    transition: top 0.3s ease 0s;
    overflow: auto;
    z-index: 5;
  }

  .menu .menu__list {
    flex-direction: column;
    margin: 0;
    text-align: center;
  }

  .menu .menu__list .menu__item {
    margin: 20px 0px 0px 0px;
    font-size: 35px;
  }

  .menu._active {
    top: 0;
  }

  .front__container {
    padding: 150px 15px 100px 15px;
  }

  .front__title {
    font-size: 2rem;
  }

  .front__text {
    margin: 0 auto 120px auto;
  }

  .front__info {
    display: none;
  }

  .about__swiper-wrapper .swiper-button-next {
    top: -55px;
  }

  .about__swiper-wrapper .swiper-button-prev {
    top: -55px;
  }

  .about__container {
    padding: 45px 15px 45px 15px;
  }

  .work__container {
    padding: 50px 15px 30px 15px;
  }

  .work__content {
    flex-direction: column;
  }

  .work-item {
    flex: 1 1 100%;
  }

  .dish__container {
    padding: 50px 15px 30px 15px;
  }

  .dish-item {
    flex: 1 1 100%;
  }

  .chefs__container {
    padding: 20px 15px 20px 15px;
  }

  .recipes__container {
    flex-direction: column;
  }

  .social__container {
    padding: 40px 15px 50px 15px;
  }

  .infoblock__container.front {
    display: none;
  }

  .infoblock__container {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .chefs__img {
    display: none;
  }
}

@media (max-width: 394px) {
  .right-items__footer {
    flex-direction: column;
  }
}